:root {
  --medium-pink: #f650a0;
  --white: #fff;
  --light-pink: #ffebf2;
  --buff: #fcfa96;
  --light-teal: #a3e8d6;
  --light-blue-grey: #e0c5ec;
  --white-two: #d8d8d8;
  --black-50: rgba(0, 0, 0, 0.5);
  --soft-pink: #f9b1d3;
  --black: #222;
  --black-two: #000;
  --warm-grey: #999;
  --light-blue-grey-two: #bec8e2;
  --pale-green: #c0fcad;
  --black-three: #333;
  --brownish-grey: #666;
  --medium-pink-three: #ed589d;
  --almost-black: #020303;
  --brownish-grey-two: #656565;
  --medium-pink-two: #f454a0;
  --navy-20: rgba(0, 35, 64, 0.2);
}

@font-face {
  font-family: SecularOne;
  src: url(../static/fonts/SecularOne-Regular.ttf);
}

@font-face {
  font-family: VarelaRound;
  src: url(../static/fonts/VarelaRound-Regular.ttf);
}

.Text-Style-4 {
  font-family: SecularOne;
  font-size: 55px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  color: var(--black-two);
}
.Text-Style-10 {
  font-family: SecularOne;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 0.15px;
  color: var(--light-pink);
}
.Text-Style-11 {
  font-family: SecularOne;
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: center;
  color: var(--black-two);
}
.Text-Style {
  font-family: SecularOne;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.07px;
  color: var(--black-two);
}
.Text-Style-12 {
  font-family: SecularOne;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.13px;
  color: var(--black-two);
}
.Text-Style-3 {
  font-family: VarelaRound;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.05px;
  color: var(--black-three);
}
.Text-Style-2 {
  font-family: SecularOne;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  color: var(--black-two);
}
.Text-Style-6 {
  font-family: SecularOne;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  color: var(--black-two);
}
.Text-Style-14 {
  font-family: SecularOne;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Text-Style-7 {
  font-family: VarelaRound;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.05px;
  color: var(--black-two);
}
.Text-Style-15 {
  font-family: VarelaRound;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--medium-pink-two);
}
.Text-Style-13 {
  font-family: VarelaRound;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}
.Text-Style-8 {
  font-family: SecularOne;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
  color: var(--black-two);
}
.Text-Style-5 {
  font-family: VarelaRound;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}
.Text-Style-9 {
  font-family: VarelaRound;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: 0.04px;
  text-align: right;
  color: var(--warm-grey);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: VarelaRound, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* Header */
header {
  background-color: var(--light-pink);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header a:hover {
  color: var(--medium-pink);
}

.nav {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.toggler {
  flex-basis: 20%;
  position: relative;
  z-index: 1001;
  background-color: transparent;
  margin-left: 0;
}

.toggler button {
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  position: relative;
  background: transparent;
}

.toggler span {
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 2px solid var(--medium-pink);
  width: 100%;
  transition: all 0.55s ease;
}

.toggler .line-1 {
  transform: translate3d(-50%, calc(-50% - 8px), 0);
}

.toggler .line-2 {
  transform: translate3d(-50%, -50%, 0);
}

.toggler .line-3 {
  transform: translate3d(-50%, calc(-50% + 8px), 0);
}

/* izbaci */

.open > .line-1 {
  transform: translate3d(-50%, 0, 0) rotate(45deg);
}

.open > .line-2 {
  transform: translate3d(-50%, 0, 0) rotate(45deg);
  width: 1px;
}

.open > .line-3 {
  transform: translate3d(-50%, 0, 0) rotate(-45deg);
}

/*  */

.toggler .toggler-note {
  font-size: 10px;
  color: #f650a0;
  display: block;
  transition: all 0.3s ease;
}

.nav-links {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links > li > a {
  display: block;
  padding: 25px 0;
}

.nav-right {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}

.nav-right div {
  display: inline-block;
}

.active-lang {
  color: var(--medium-pink);
}

.cart {
  color: var(--medium-pink);
}

.drop-down-links {
  padding-bottom: 10px;
}

.drop-down-links li {
  padding: 5px;
}

.nav-location {
  padding-bottom: 2rem;
}

.nav-location p {
  padding: 1rem 0 0;
}

.nav-location a {
  display: block;
  text-decoration: underline;
}

.tag {
  border-radius: 3px;
  background-color: #000;
  box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 31%);
  transform: rotate(-7deg);
  font-size: 12px;
  color: #fff;
  padding: 2px 6px 1px;
  z-index: 1999;
  display: inline-block;
  margin-left: 10px;
}

.nav-new-location {
  background-color: #fed7ea;
  padding: 5px;
}

.nav-new-location .text-wrap {
  border: dashed 3px hsla(0, 0%, 100%, 0.36);
  padding: 1rem;
}

.nav-new-location .text-wrap span {
  text-align: center;
  display: block;
}

.nav-new-location .text-wrap .soon {
  font-family: SecularOne, sans-serif;
  font-size: 16px;
}

.nav-new-location .text-wrap .text {
  font-family: SecularOne, sans-serif;
  font-size: 25px;
  color: var(--medium-pink);
  padding: 0 50px;
}

.nav-catering span {
  display: block;
  font-size: 15px;
  font-family: SecularOne, sans-serif;
  color: var(--black-two);
  padding-bottom: 16px;
}

.nav-catering p {
  color: var(--black);
}
.nav-catering strong {
  font-family: VarelaRound, sans-serif;
  line-height: 1.2;
}

.nav-catering span strong {
  display: block;
  color: #f650a0;
}

.nav-catering-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-catering-button .button {
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
}
.nav-catering-button .button:hover {
  text-decoration: underline;
  color: var(--white);
}

.nav-image-wrap {
  display: none;
}

@media only screen and (max-width: 992px) {
  .nav-collapse {
    height: 0;
    position: relative;
    z-index: 1000;
    background: #ffebf2;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0.25s ease;
    overflow-x: hidden;
    order: 4;
    flex-basis: 100%;
    display: flex;
    /* padding-bottom: 3rem; */
  }

  .nav-collapse.show {
    transform: scaleX(1);
    height: calc(100vh - 50px);
    padding-bottom: 150px;
    padding-bottom: 3rem;
  }

  .nav-link-item {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-link-item a {
    display: block;
    width: 90%;
  }

  .list-button {
    display: block;
    width: 19px;
    height: 19px;
    margin-top: 30px;
    transform: rotate(45deg);
    border-top: 3px var(--black-two) solid;
    border-right: 3px var(--black-two) solid;
  }

  .list-button.open {
    border-top: 0;
    border-bottom: 3px var(--black-two) solid;
  }

  .nav-links > li {
    border-bottom: 1px dashed var(--medium-pink);
    font-size: 22px;
  }
  .nav-links > li > a:hover {
    color: var(--black-two);
  }

  .drop-down-menu {
    display: none;
    background: var(--light-pink);
    flex-basis: 100%;
    overflow: hidden;
  }

  .drop-down-menu.open {
    display: block;
  }

  .ordering-1,
  .nav-gift-menu,
  .info-pult {
    font-family: VarelaRound;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.05px;
    color: var(--black-three);
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    padding: 0;
  }

  .toggler {
    display: none;
  }

  .nav-collapse {
    flex-basis: 50%;
  }

  .nav-right {
    flex-basis: 15%;
  }

  .nav-links {
    height: 70px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .drop-down-menu {
    background-color: var(--light-pink);
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
    transform: scaleY(0);
    transform-origin: top center;
    padding: 20px 0;
  }

  .nav-link-item:hover > .drop-down-menu,
  .drop-down-menu:hover {
    transform: scaleY(1);
  }

  .drop-down-links {
    display: flex;
    align-items: flex-start;
  }

  .ordering-1 {
    flex-basis: 20%;
  }

  .ordering-2 {
    flex-basis: 40%;
  }

  .ordering-3 {
    flex-basis: 40%;
  }

  .nav-image-wrap {
    display: flex;
    margin: 1rem 0;
  }

  .nav-image-wrap .image {
    display: inline-block;
    position: relative;
  }

  .nav-image-wrap .first-image {
    padding-right: 8px;
  }

  .nav-image-wrap .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f650a0;
    margin-top: 8px;
    margin-left: -8px;
  }
}

/* MAIN */ /* main header */

.main-header {
  padding-top: 3rem;
}

.main-header span {
  display: block;
  padding-top: 2rem;
}

.main-header a:hover {
  text-decoration: underline;
}

.main-header strong {
  color: var(--black-two);
}

/* Main locations */

.main-content {
  padding-top: 2rem;
}

.location-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 1px 9px 0 var(--navy-20);
  margin-bottom: 4rem;
}

.location-info {
  flex: 0 0 100%;
  padding: 2rem 2rem 2rem;
}

.location-details {
  display: flex;
  border-top: 1px solid var(--navy-20);
  border-bottom: 1px dashed var(--navy-20);
  position: relative;
}

.border-text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -10px;
  background-color: var(--white);
}

.location-list {
  max-width: 50%;
  padding: 1rem;
}

.location-list .list-title {
  padding: 1rem 0 1rem;
  display: block;
}

.location-list li {
  display: inline-block;
}

.work-hours {
  padding-top: 1.5rem;
}

.contact-details a {
  text-decoration: underline;
}

.pill {
  float: left;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.2rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.3rem;
}

.yellow {
  background-color: var(--buff);
}

.pink {
  background-color: var(--light-pink);
}

.green {
  background-color: var(--light-teal);
}

.purple {
  background-color: var(--light-blue-grey);
}

.gallery {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.gallery-item {
  flex: 0 0 25%;
  max-width: 25%;
}

.gallery-item img {
  width: 100%;
  padding: 10px;
}

.location-map {
  flex: 0 0 100%;
  height: 300px;
}

.location-map iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .location-info {
    flex: 0 0 50%;
  }
  .location-map {
    flex: 0 0 40%;
    height: auto;
  }
}

/* New location banner */

.new-location-banner {
  position: relative;
  margin: 100px 0 100px;
  width: 1200px;
}

.new-location-banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 90vw;
  left: 5%;
  top: 50px;
  height: 350px;
  transform: rotate(-4deg);
  box-shadow: 0 1px 9px 0 var(--navy-20);
  background-color: var(--medium-pink);
  z-index: -1;
}

.left-image {
  display: none;
}
.right-image {
  display: none;
}
.banner-text {
  display: flex;
  min-height: 485px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

@media only screen and (min-width: 992px) {
  .new-location-banner::before {
    max-width: 90vw;
  }

  .left-image {
    display: flex;
    min-height: 485px;
    justify-content: start;
    align-items: flex-start;
  }

  .left-image img {
    width: 100%;
  }

  .right-image {
    display: flex;
    min-height: 485px;
    justify-content: start;
    align-items: flex-end;
  }
  .right-image img {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .new-location-banner::before {
    max-width: 88vw;
  }
}

/* Franchise banner */

.franchise-banner {
  padding: 5rem 0 5rem;
}

.franchise-banner-text {
  padding: 2rem;
  display: block;
  font-family: VarelaRound;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.05px;
  text-align: center;
  color: var(--brownish-grey);
}

.pink-text {
  color: var(--medium-pink);
}
.black-text {
  color: var(--black-two);
}

/* main gallery */

.main-gallery {
  padding-bottom: 5rem;
  display: none;
}

@media only screen and (min-width: 992px) {
  .main-gallery {
    margin: auto;
    max-width: 1920px;
    --gap: 20px;
    --num-cols: 30;
    --num-rows: 8;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: repeat(var(--num-rows), 80px);
    gap: var(--gap);
  }

  .main-gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-grid-1 {
    grid-column: span 3;
    grid-row: span 6;
  }

  .image-grid-2 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .image-grid-3 {
    grid-column: span 8;
    grid-row: span 4;
  }
  .image-grid-4 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .image-grid-5 {
    grid-column: span 6;
    grid-row: span 3;
  }
  .image-grid-6 {
    grid-column: span 3;
    grid-row: span 2;
  }
  .image-grid-7 {
    grid-column: span 6;
    grid-row: span 3;
  }
  .image-grid-8 {
    grid-column: span 4;
    grid-row: span 2;
  }

  .image-grid-9 {
    grid-column: span 3;
    grid-row: span 6;
  }
  .image-grid-10 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .image-grid-11 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .image-grid-12 {
    grid-column: span 8;
    grid-row: span 4;
  }
  .image-grid-13 {
    grid-column: span 6;
    grid-row: span 3;
  }
  .image-grid-14 {
    grid-column: span 6;
    grid-row: span 3;
  }
  .image-grid-15 {
    grid-column: span 3;
    grid-row: span 2;
  }
  .image-grid-16 {
    grid-column: span 4;
    grid-row: span 2;
  }
}

/* Main footer */
.main-footer {
  padding-bottom: 5rem;
}

.main-footer img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.main-footer h3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.button {
  display: block;
  width: 155px;
  padding: 0.5rem 0;
  border-radius: 2px;
  background-color: var(--medium-pink-two);
  font-family: SecularOne;
  font-size: 13px;
  /* font-weight: normal; */
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.button:hover {
  color: var(--white);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  transition: all 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}

.modal.open {
  transform: scaleX(1);
}

.modal-order {
  width: 650px;
  background-color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-header {
  flex-grow: 0;
  height: 70px;
  border: 0;
  padding: 2rem 5rem;
}

.modal-header button {
  border: 0;
  background-color: transparent;
}

.modal-content {
  flex-grow: 1;
  border: 0;
}

.modal-footer {
  display: flex;
  height: 100px;
  flex-grow: 0;
  border: 0;
  box-shadow: 0 1px 9px 0 rgb(0 35 64 / 20%);
  justify-content: space-between;
  align-items: center;
}

.total-price {
  font-family: SecularOne, sans-serif;
  font-size: 20px;
  color: var(--black-two);
  padding-top: 5px;
}
.price-pink {
  color: var(--medium-pink);
}
.price-description {
  font-size: 12px;
  font-family: SecularOne, sans-serif;
  padding-top: 10px;
  color: var(--black-two);
}

/* FOOTER */

#footer {
  position: relative;
  background-color: var(--light-pink);
  padding-top: 5rem;
}
.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#footer .site-logo {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
}

#footer .site-logo img {
  max-width: 100%;
  height: auto;
}

.socials {
  margin: 1rem 0 1rem;
}

.socials-logo {
  padding-right: 1rem;
}

.socials-logo img {
  width: 25px;
}

.footer-navigation-links li {
  display: inline-block;
  padding: 0 1rem 0.5rem 0;
}

@media only screen and (min-width: 800px) {
  .footer-navigation-links li {
    display: block;
  }
}

.footer-more-links li {
  padding: 0 1rem 1rem 0;
}

.work-application {
  display: block;
  padding: 0 0 1rem;
}

.footer-bottom {
  margin: 1rem 0 1rem;
}
.copyright {
  font-family: VarelaRound;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey-two);
}

.footer-image {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 1200px) {
  .footer-image {
    display: block;
  }
  .footer-image img {
    width: 250px;
  }
}

@media only screen and (min-width: 1500px) {
  .footer-image img {
    width: 300px;
  }
}

@media only screen and (min-width: 1700px) {
  .footer-image img {
    width: auto;
  }
}
